
h1 {
    font-family: serif;
    font-size: 40px;
    color: white;
}

p.result {
    cursor: pointer;
    color: white;
    font-family: serif;
    font-size: 14pt;
    
}

p.result:hover {
    font-weight: bold;
}

input[type=text] {
    background-color: #242729;
    border: 0.5px solid gray;
    padding: 15px;
    width: 750px;
    color: white;
    size: 20;
    font-size: 14pt;
    outline: none;
    transition: 0.5s;
}

input[type=text]:focus {
    border: 3px solid white;
}

.guess {
    width: 750px;
    border: 0.5px solid white;
    padding: 0px;
    margin: 0.5em;
}

